---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="A quick glimpse into who I am, what I love building, and why I do it."
	pubDate={new Date('June 11 2025')}
>

<img src="/images/about-tad.jpeg" alt="Community Help 2" />
	<p>
		Hey there! I'm Prashant — a React Native Engineer passionate about building meaningful products that actually solves pains of users. I work primarily with React Native and have been actively shaping ideas into mobile apps that people can use every day.
	</p>

	<p>
		My recent projects include apps that help users share their interview stories, book mental health counselors, and even unwind with relaxing sounds. I stay close to the community by learning, sharing ideas, and constantly improving my craft. 
	</p>



	<p>
		Outside of code, I enjoy reflecting on life, writing small poems, and going nostalgic about my childhood days spent flying kites or biking around my old neighborhood. I try to carry that curiosity and joy into everything I build.
	</p>

	<p>
		Thanks for stopping by! If you're building something cool or just want to say hi — feel free to connect on my socials. 🙂
	</p>

	
</Layout>
