---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="Current Status"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	
>
	<p>
		Currently, i am building a lot of super cool AI and non AI Apps. I am also building a full fledged app to solve the pain of scattered interview experiences. 
	</p>

	
		
	
</Layout>
